.indicator {
    cursor: pointer;
    width: 24px;
    height: 7px;
    left: 130.77px;
    top: 722.02px;
    border: 1px solid #666;
    background: #FFFFFF;
    border-radius: 50px;
    margin-right: 5px;
    margin-left: 2px;
    margin-top: -5%;
    z-index: 1;
    transition: all 0.3s ease;
}

.indicator.active {
    color: #fff;
    background: #4beaff;
}